name: .NET 8 CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
   
    - name: Checkout code
      uses: actions/checkout@v4

    
    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

   
    - name: Restore dependencies
      run: dotnet restore DotnetHelloCI/DotnetHelloCI.csproj

    
    - name: Build project
      run: dotnet build DotnetHelloCI/DotnetHelloCI.csproj --configuration Release --no-restore

    
    - name: Test project
      run: dotnet test DotnetHelloCI/DotnetHelloCI.csproj --no-build --verbosity normal

  
    - name: Publish project
      run: dotnet publish DotnetHelloCI/DotnetHelloCI.csproj -c Release -o ./publish
